<h1>{{#if result_count}}{{result_count}}{{else}}No{{/if}} results found</h1>

{{#each listing}}
<article class="property">
  <img alt="" src="{{image_url}}" />
  <div>
    <h2>{{num_bedrooms}} Bed {{property_type}} for sale <span>{{format price}}</span></h2>
    <p>{{description}}</p>
  </div>
  <footer>
    <address class="h-card">
      <img class="u-logo" src="{{agent_logo}}" alt="" />
      <span class="p-name">{{agent_name}}</span>
      <span class="p-street-address">{{agent_address}}</span>
      <span class="p-postal-code">{{agent_postcode}}</span>
      <span class="p-tel">T: {{agent_phone}}</span>
    </address>
  </footer>
</article>
{{else}}
<p>Enter another location and search again</p>
{{> form action="results" }}

{{/each}}
